01 开场白1 （自然播放至结束） 
02 开场白2 【等一下开场白1之后观众可能的笑声，笑差不多了播放】（自然播放至结束） 
03 神剑登场 【BGM 后羿：“出来吧，神力！”之后，黑衣人侧手翻上台】
（后接fade out）
04 Crazy Dave 变速版 【二日：“神圣太阳之力最终形态——三体！”
三个太阳动作逐渐加速， 大日：“三星连珠！”之后】
（自然播放至结束） 
05 The King 【大日：“三日凌空！”之后 】（自然播放至结束） 
06 You Are My Destiny 【小日安慰前羿： 每个人都有状态不好的时候 之后】（后接fade out）

07 古风起范音乐 【大日、二日宣布“自杀！”之后】（后接fade out）
08 古风起范音乐（再次响起） 【没水了！别慌二弟，再试试这个！之后】（演员开始说话之后希望能手动控制音乐音量减少30%-40%，结束时接fade out）
09 对撞 BGM【 二日：“You bump,”  大日：“I bump！”之后】
10 爆炸音效（伴随爆炸后的火焰燃烧和沙石滚落的声音） 【大日、二日对撞瞬间】
（cue 9和cue 10一起手动控制fade out结束）

11 画外音：大日“休想” 【前羿：“别难过，我也可以当你的哥哥！”之后】 （自然播放至结束） 
12 Butterfly 抒情版 【小日回复“休想”：“大欧巴！”之后】
（自然播放至结束） 
13画外音：二日“伊抹多，我们已经转世投胎了！”【跟12几乎同时播放】
（自然播放至结束） 
14画外音：哥哥们“我们会一直看着你的、妹妹x7”【小日回答完上一句说完“二哥！”之后】
（自然播放至结束） 
15 画外音：“成为我们最后的太阳吧！”【小日说完“3456789哥哥！”之后】
（cue15自然播放至结束， cue11与cue15同时结束，cue11的结束需要手动控制）
16 Butterfly 摇滚版 【小日：“嗯！我会的！”之后】 
（后接fade out）
17 浇水声（水滴）【结尾彩蛋开始之前1-2s黑灯状态下先播放水声再亮灯】
（后接fade out）

18 古风 BGM（燃） 【后羿：“让我来帮你吧，臭哥哥。”之后】
19 浇水声（大） 【黑衣人上台后2-3s拿大水壶激情浇水的过程中一直播放】
（Cue18播放一会儿之后播放cue19，开始播放cue19之后cue18的声音变小30%，之后cue18先手动控制fade out cue19等演员一句台词之后再手动fade out
20 开花魔法音效“唰拉拉”【前羿说完“他们开啦”之后】
（自然播放至结束）

21 《种太阳》 【葵花籽互动结束后作为最后的结尾音乐】
（自然播放至结束） 

